*{
 background-color: #F5FBFA;
list-style:none;
text-align: center;

/* display:flex;
flex-direction:column; */
}
ul{
    display: inline-block; */
text-align: left; 
}
#Red{
    border:black solid 1px;
    padding:12px;
    background-color:red;
    width: 80px;
   
}
#Green{
    border:black solid 1px;
    padding:12px;
    background-color:green;
    width: 80px;
}
#Blue{
    border:black solid 1px;
    padding:12px;
    background-color:blue;
    width: 80px;

}
#Yellow{
    border:black solid 1px;
    padding:12px;
    background-color:yellow;
    width: 80px;
}